@import "node_modules/ol/ol.css";

html, body {
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
}

#nav{
  display: inline-flex;
  justify-content: flex-start;
  background-color: rebeccapurple;
  min-height: 100px;
}

#nav .navItems{
  margin-top: 4%;
  margin-left: 4%;
}

#nav .navItems #title{
  color: white;
  text-decoration: none;

}
#nav .navItems #searchBar{
  float: right;
  padding: 6px;
  border: none;
  margin-right: 16px;
  font-size: 17px;
}


#nav .navItems a {
  color: white;
  text-decoration: none;
}

#nav .navItems #title:hover {
  color: lawngreen;
  text-shadow: 2px 2px black;
}


#mapDiv {

}

#mapDiv #map {
  position: relative;
  margin: 0 auto;
  min-height: 670px;
  background-color: orange;
  top: 0;
  bottom: 0;
}
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 40px;
  left: -49px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}