@import "node_modules/ol/ol.css";

html, body {
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  animation: fadeInAnimation ease 2s;
  animation-fill-mode:forwards;
}

#backgroundImage{
  position: absolute;
  z-index: -1;
  object-fit: contain;
  width: 100%;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

#backgroundImage #bckImg{
  object-fit: contain;
  position: center;
  width: 100%;
}

@keyframes fadeInAnimation {
0%{
  opacity: 0.3;
}
  100%{
    opacity: 1;
  }

}

#map {
  position: relative;
  top: 10px;
  bottom: 0;
  width: 70%;
  height:70%;
  margin: auto;
}
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 40px;
  left: -49px;
  min-width: 350px;

}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

#wilmaFoot{
  font-size: 20px;
  text-emphasis-position: left;
  color: deeppink;
  font-family: "Comic Sans MS";
  background-color: lightsteelblue;
  padding-top: 10px;
  margin: auto;

}

#nav {
  background-image: linear-gradient(to bottom right, #000066, #9999ff);
  float: left;
  flex-direction: row;
  opacity: 80%;
  padding: 0;
}

#nav #title{
  padding-left: 10px;
  color: greenyellow;
  text-decoration: none !important;
}

#nav #titleLink #title:hover{
  color: #ffffff;
  text-decoration: none !important;
}

#nav #titleLink{
  text-decoration: none !important;
}

#searchBarId{
  margin-left: 10%;

}
#searchValueLabel{
  font-size: 22px;
  color: white;
  font-family: "Comic Sans MS";
  background-color: #4A412A;
  border-radius: 25%;
  padding-left: 10px;
  padding-right: 10px;

}

 #searchForm{
  align-self: center;
   padding-top: 7%;
   padding-bottom: 2%;
   margin: 0 auto;
   padding-right: 0;
   padding-left: 0;


}

#searchForm{
  top: 10px;
}

footer{

}




